<!--<div class="header">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div></div> &lt;!&ndash;Title &ndash;&gt;-->
<!--      <div></div> &lt;!&ndash;Title &ndash;&gt;-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="wrapper sticky header">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>people</mat-icon>
      Social Media App
    </a>
    <ul>
      <li>
        <a routerLink="register">SignUp</a>
      </li>
      <li>
        <a >Login</a>
      </li>
    </ul>
  </nav>
</div>
<!--<div class="footer">-->
<!--  <h2>All right reserved to Fadl & Hossam</h2>-->
<!--</div>-->
